.services-section {
  padding: 80px 60px;
  background: #ffffff;
  text-align: center;
}

.services-section h2 {
  font-size: 37px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 50px;
}

.services-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-card {
  background: #f8f9fb;
  padding: 30px 25px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-card h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}

.service-card p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}
