.about-section {
  padding: 80px 60px;
  background: white;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-text {
  flex: 1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-style:oblique
}

.about-text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #111;
}

.about-text p {
  font-size: 17px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 15px;
  line-height: 50px;
  
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}
