.home-swiper {
  width: 100%;
  height: 100vh;
}

swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
swiper-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* overlay darkness */
  z-index: 1;
}

/* text overlay */
.content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
  max-width: 600px;

}

.content h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.content h3{
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content p {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
  font-family: sans-serif;
}

.content button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}
