.contact-section {
  padding: 90px 20px;
  background: linear-gradient(135deg, #f6f9ff, #ffffff);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: #20247b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
  text-align: center;
  margin-bottom: 60px;
  color: #555;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contact-wrapper {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.contact-info h3 {
  margin-bottom: 15px;
  color: #111;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-info li {
  margin-bottom: 12px;
  color: #444;
}

.contact-form {
  flex: 1;
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #00e5ff;
}

.contact-form button {
  padding: 14px;
  border: none;
  background: #20247b;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #00e5ff;
  color: #000;
}
