<header class="header">
  <div class="center">
    
    <img src="/assets/images/logo.png" alt="Logo" class="logo">

    <span class="company">Innovator Automation & Technology</span>
  </div>
  <div class="right">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a href="#">About Us</a>
    <a href="#">Products</a>
    <a href="#">Testimonials</a>
    <a href="#">Contact Us</a>
  </div>

 
   <div class="left">
    <input type="text" placeholder="Search..." class="search">

  
  </div>
 
</header>
 


